.ipynb_checkpoints/*
synthetic/results/*
synthetic/results_old/*
synthetic/results_9_10/*
synthetic/results_9_13/*
synthetic/results_final/*
experiments/logs/*
*.csv
*.png
*.RData
*.Rhistory
.Rhistory
